---

- name: Debug  
  debug:
    msg: "{{ ansible_eda.event.body.payload | regex_search('Removed: (\\w+)-', '\\1', default='') | first }}"



- name: Mandatory package removal detected, retrieving package name
  set_fact:
    package_name: "{{ ansible_eda.event.body.payload | regex_search('Removed: (\\w+)-', '\\1', default='') | first }}"


- debug:
    var: package_name

- name: Attempting re-deploy "{{ package_name }}" package
  ansible.builtin.package:
    name:
      - "{{ package_name }}"
    state: latest


- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto


- name: Check whether "{{ item }}" package is installed successful
  ansible.builtin.debug:
    msg: "{{ ansible_facts.packages[item] | length }} versions of {{ item }} are installed!"
  when: item in ansible_facts.packages
  with_items:
    - "{{ package_name }}"
